.card-container {
    display: flex; /* Makes the container a flex item */
    justify-content: center; /* Centers the card horizontally */
    align-items: center; /* Centers the card vertically */
    height: 100vh; /* Optional: Centers the card in the whole viewport */
    /* Add some basic styling for the container if needed */
    background-color: #f0f0f0; 
}

#profileCard {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

#profileCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

#profileCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


#updateNameBtn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #4A90E2;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}


#updateRoleBtn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #4A90E2;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#changeImageBtn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #4A90E2;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

}

#toggleStatusBtn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #4A90E2;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

}


#profileCard button:hover {
    background-color: #357ABD;
}


#profileCard.active-status {
    width: 300px;
    padding: 20px;
    background-color: rgb(16, 255, 251);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.588);
    border-radius: 8px;
    text-align: center;
    font-family: cursive;
}